//Generated with param-types.tmpl

{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
// {{.TypeName}} defines parameters for {{$opid}}.
type {{.TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}

{{$t := .TypeName}}
{{range .Schema.Properties -}}
func (datatype {{$t}}) Get{{.GoFieldName}}() {{.Schema.TypeDecl}} {
{{- if .Required}}
    return datatype.{{.GoFieldName}}
{{- else}}
    if datatype.{{.GoFieldName}} == nil {
        var empty {{.Schema.GoType}}
        return empty 
    }
	return *datatype.{{.GoFieldName}}
{{end -}}
}
{{end}}
{{end}}
{{/* toJson . */}}
{{end}}
